{% extends 'user/layout.html' %}

{% block content %}

	<h1>Materiais</h1>
	<p style="text-align: justify;">
		Nessa aba do site você terá acesso aos materiais de estudo que o nosso projeto "<strong>{{ name_site }}</strong>"
		está disponibilizando gratuitamente para estudantes que sonham em cursar um ensino médio de qualidade. Logo abaixo
		estão catolagadas algumas escolas com provas do mesmo e as resoluções comentadas dessa prova, produzida pelos
		gestores de provas do "<strong>{{ name_site }}</strong>".
	</p>

	{% for school in schools %}
	<h6>{{ school.name }}</h6>
	<div class="card border-success mb-3" style="max-width: 100%;">
		<div class="card-body">
		  <h4 class="card-title">Provas</h4>
		  <p class="card-text" style="text-align: justify;">Tenha acesso as provas do <strong>{{ school.name }} </strong> com o botão abaixo.</p>
		  <a href="{{ url_base_user }}materiais/{{ school.codename }}/provas" class="btn btn-success">Provas</a>
		</div>
	</div>

	<div class="card border-success mb-3" style="max-width: 100%;">
		<div class="card-body">
		  <h4 class="card-title">Resoluções</h4>
		  <p class="card-text" style="text-align: justify;">Tenha acesso as resoluções produzidas pelos gestores de provas do nosso projeto
		  "<strong>{{ name_site }}</strong>".</p>
		  <a href="{{ url_base_user }}materiais/{{ school.codename }}/resolucoes" class="btn btn-success">Resoluções</a>
		</div>
	</div>
	<hr>
	{% endfor %}

{% endblock %}
