{% set url_base_admin = "https://www.vemsimplificar.com.br/admin/" %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name_site }} - {{ section_site }}</title>
    <link rel="shortcut icon" type="imagem/png" href="{{ assets }}img/icone64.svg">
    <link rel="stylesheet" type="text/css" href="{{ assets }}css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ assets }}css/style.admin.css">
    <link rel="stylesheet" type="text/css" href="{{ assets }}css/style.css">
</head>
<body>
    <div class="row">

        <div class="col-sm-3 left-panel">
            <nav class="navbar  navbar-dark bg-dark nav-menu flex-column">
                <a href="{{ url_base_admin }}home"></a><img src="{{ assets }}img/logo.svg">
                <a class="navbar-brand text-center" href="{{ url_base_admin }}home">{{ name_site | upper }}</a>
                  
                <hr>
                
                <ul class="navbar-nav m1-auto flex-column">

                    {% if ('admin' in admin.rules) or ('reso' in admin.rules) %}
                        <a>{{ 'GESTORES DE PROVAS' }}</a>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_base_admin }}adicionar-resolucao">
                                Adicionar Resolução
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_base_admin }}editar-resolucao">
                                Editar Resolução
                            </a>
                        </li>
                    {% endif %}

                    <hr>

                    {% if ('admin' in admin.rules) or ('blog' in admin.rules) %}
                        <a>{{ 'GESTORES DE BLOG' }}</a>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_base_admin }}adicionar-post">
                                Adicionar post
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_base_admin }}editar-post">
                                Editar post
                            </a>
                        </li>

                    {% endif %}

                    <hr>

                    <a>{{ 'OPÇÕES' }}</a>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_base_admin }}meus-dados">
                            Meus Dados
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_base_admin }}sair">
                            Sair
                        </a>
                    </li>


                  </ul>
              </nav>
        </div>

        <div class="col-sm-9 content-panel">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="https://cdn.tiny.cloud/1/9ryyr8sf1x0yk838uhqtjh8pg4dnmuzf3sv7jji9l090uf8a/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed link powerpaste table advtable tinymcespellchecker imagetools image preview',
            toolbar: 'addcomment showcomments casechange checklist code formatpainter pageembed table | alignjustify alignleft aligncenter alignright | link image preview | bullist numlist',
            toolbar_mode: 'floating',
            advlist_number_styles: "lower-alpha",
            // enable title field in the Image dialog
            image_title: true, 
            // enable automatic uploads of images represented by blob or data URIs
            automatic_uploads: true,
            // add custom filepicker only to Image dialog
            file_picker_types: 'image',
            file_picker_callback: function(cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');

                input.onchange = function() {
                var file = this.files[0];
                var reader = new FileReader();
                
                reader.onload = function () {
                    var id = 'blobid' + (new Date()).getTime();
                    var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
                    var base64 = reader.result.split(',')[1];
                    var blobInfo = blobCache.create(id, file, base64);
                    blobCache.add(blobInfo);

                    // call the callback and populate the Title field with the file name
                    cb(blobInfo.blobUri(), { title: file.name });
                };
                reader.readAsDataURL(file);
                };
                
                input.click();
            }
        });
    </script>
</body>
</html>