<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name_site }} - {{ section_site }}</title>
    <link rel="shortcut icon" type="imagem/png" href="{{ assets }}img/logo.ico">
    <link rel="stylesheet" type="text/css" href="{{ assets }}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ assets }}css/style.admin.css">
    <link rel="stylesheet" type="text/css" href="{{ assets }}css/style.css">
</head>
<body>
    <div class="row">

        <div class="col-sm-3 left-panel">
            <nav class="navbar  navbar-dark bg-dark nav-menu flex-column">
                <a href="{{ url_base_admin }}home"></a><img src="{{ assets }}img/logo.svg">
                <a class="navbar-brand text-center" href="{{ url_base_admin }}home">{{ name_site | upper }}</a>
                  
                <hr>
                
                <ul class="navbar-nav m1-auto flex-column">

                    {% if 'admin' in admin_data.roles %}
                        <a>{{ 'CHEFÕES' }}</a>
                        <li>
                            <a class="nav-link" href="{{ url_base_admin }}adicionar-escola">Adicionar Escola</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ url_base_admin }}adicionar-prova">Adicionar Prova</a>
                        </li>
                        <hr>
                    {% endif %}

                    {% if ('admin' in admin_data.roles) or ('reso' in admin_data.roles) %}
                        <a>{{ 'GESTORES DE PROVAS' }}</a>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_base_admin }}adicionar-resolucao">
                                Adicionar Resolução
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_base_admin }}editar-resolucao">
                                Editar Resolução
                            </a>
                        </li>
                        <hr>
                    {% endif %}


                    {% if ('admin' in admin_data.roles) or ('blog' in admin_data.roles) %}
                        <a>{{ 'GESTORES DE BLOG' }}</a>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_base_admin }}adicionar-post">
                                Adicionar post
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_base_admin }}editar-post">
                                Editar post
                            </a>
                        </li>
                        <hr>
                    {% endif %}

                    <a>{{ 'OPÇÕES' }}</a>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_base_admin }}meus-dados">
                            Meus Dados
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_base_admin }}sair">
                            Sair
                        </a>
                    </li>


                  </ul>
              </nav>
        </div>

        <div class="col-sm-9 content-panel">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="{{ assets }}js/jquery-3.5.1.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
