{% extends 'user/layout.html' %}

{% block content %}

	<h1>Sobre</h1>
	<center><img src="{{ assets }}img/icone100.png"></center>
	<p style="text-align: justify;">
		O grupo "<strong>{{ name_site }}</strong>" é formado exclusivamente por estudantes dos cursos
		técnicos do <strong>IFCE <i>Campus</i> Fortaleza</strong> que buscam ajudar alunos que queiram
		ingressar numa escola de ensino médio renomada ou somente desejam complementar os estudos,
		isso de forma totalmente gratuita.
	</p>

	<hr>

	<h2>Quem são os responsáveis pelo projeto?</h2>
	<p style="text-align: justify;">
		A divisão do projeto basicamente tem quatro áreas, plataforma, produção de resoluções,
		administração geral e comunicação (<strong>Discord</strong>). Segue os nomes dos responsáveis: 
	</p>
	<ul>
		<li>
			<p style="text-align: justify;">
				<strong>Gilmar: </strong> Desenvolvedor-chefe da plataforma e coordenador-chefe dos
				gestores de provas.
			</p>
		</li>

		<li>
			<p style="text-align: justify;">
				<strong>Iuri: </strong> Coordenador-chefe da comunicação direta entre o projeto e
				os estudantes.
			</p>
		</li>
		
		<li>
			<p style="text-align: justify;">
				<strong>Vagner: </strong> Coordenador-chefe da administração geral do projeto.
			</p>
		</li>
	</ul>

{% endblock %}