<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168514493-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-168514493-2');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="vem simplificar,ifce,if,ensino médio,estudos,provas,resoluções,resoluções comentadas,soluções,conteúdo gratuito,como passar no ifce">
    <title>{{ name_site }}{{ section_site|raw }}</title>
    <link rel="icon" type="imagem/x-icon" href="{{ assets }}img/logo.ico">
    <link rel="shortcut icon" type="imagem/x-icon" href="{{ assets }}img/logo.ico">
    <link rel="stylesheet" type="text/css" href="{{ assets }}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ assets }}css/style.css">

    <!-- Facebook -->
    <meta property="og:url" content="{{ url_base_user }}">
    <meta property="og:title" content="{{ name_site }}{{ section_site }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ assets }}img/icone100.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="100">
    <meta property="og:image:height" content="100">

    <meta name="robot" content="Index,Follow">
    <meta name="language" content="pt-br">
    <meta name="rating" content="general">
</head>
<body>
    <div class="menu">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-menu">
          <a class="navbar-brand" href="{{ url_base_user }}">
            <img src="{{ assets }}img/logo.svg"> {{ name_site_logo }}
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarColor01">
            <ul class="navbar-nav m1-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_base_user }}">Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_base_user }}materiais">Materiais</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_base_user }}contato">Contato</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_base_user }}sobre">Sobre</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
  
    <div class="container">
      <div class="row">
        <div id="content" class="col-sm-10">
          {% block content %}{% endblock %}
        </div>

        <div id="advertisement" class="col-sm-2">
          <center>
          {% include 'user/advertisement.html' %}
          </center>
        </div>
      </div>
    </div><br>

    <section id="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <a class="navbar-brand" href="{{ url_base_user }}">
            <h5>Vem Simplificar <img src="{{ assets }}img/logo.svg"></h5>
          </a>
          <ul class="list-unstyled quick-links">
            <li><a>Contato:<br>contato@vemsimplificar.com.br</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Redes Sociais</h5>
          <ul class="list-unstyled quick-links">
            <li>
              <a href="{{ url_base_user }}contato#discord">
                Discord<br>
                <img width="40" src="{{ assets }}img/footer/discord.ico">
              </a>
            </li>
            <li>
              <a href="https://instagram.com/vemsimplificar" target="_blank">
                Instagram<br>
                <img width="40" src="{{ assets }}img/footer/instagram.ico">
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Links Importantes</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="{{ url_base_user }}">Inicio</a></li>
            <li><a href="{{ url_base_user }}materiais">Materiais</a></li>
            <li><a href="{{ url_base_user }}contato">Contato</a></li>
            <li><a href="{{ url_base_user }}sobre">Sobre</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p class="h6">© {{ name_site_logo }} - {{ date }}</p>
        </div>
        <hr>
      </div>  
    </div>
  </section>

    <!-- JavaScript: jQuery, Bootstrap and Popper -->
    <script src="{{ assets }}js/jquery-3.5.1.js"></script>
    <script src="{{ assets}}js/popper.min.js"></script>
    <script src="{{ assets }}js/bootstrap.min.js"></script>
    <script src="{{ assets }}js/script.js"></script>
  
    {% block scripts %}{% endblock %}
    {% block mathjax_script %}{% endblock %}
</body>
</html>
