{% extends 'user/layout.html' %}

{% block content %}

	{#
		=====================================
		============ RESOLUTION =============
		=====================================
	#}
	{% if (resolution.content_question != "") or (resolution.resolution_question != "")%}
		<h1>RESOLUÇÃO</h1>
		<p><strong>Disciplina:</strong> {{ discipline }} (<strong>{{ year }}</strong>)</p>

		<p><strong>Autor: </strong>{{ resolution.author }}</p>
		<p><strong>Publicação de: </strong><i>{{ resolution.date_resolution }}</i></p>

		<h6>Enunciado:</h6>
		<strong style="float: left;">{{ number_question }}º) &nbsp;</strong>
		<div id="content_question"> {{ resolution.content_question | raw }} </div>

		<h6>Resolução:</h6>
		<div id="resolution_question">{{ resolution.resolution_question | raw }}</div>
	{% else %}
		<h1>A RESOLUÇÃO DESSA QUESTÃO AINDA NÃO ESTÁ PRONTA OU ESSA QUESTÃO NÃO EXISTE</h1>

{% endblock %}

{% block mathjax_script %}
	<!-- MathJax Script -->
	<script>
    MathJax = {
	  options: {
		  renderActions: {
			  addMenu: [0, '', '']
		  }
	  },
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']]
      }
    };
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}	
