{% extends 'user/layout.html' %}

{% block content %}

		<h1>Resolução</h1>

	{#
		=====================================
		============ PAGINATION =============
		=====================================
	#}

	{#
		=====================================
		============ RESOLUTION =============
		=====================================
	#}
	{% if (resolution.content_question != "") or (resolution.resolution_question != "")%}
		
	<label for="pagination">Selecione a questão desejada</label>
	<div>
		<ul class="pagination">
		  {% for number_question_pagination in number_questions %}
		  <li class="page-item">
			<a class="page-link" href="{{ number_question_pagination.number_question }}">{{ number_question_pagination.number_question }}º</a>
		  </li>
		  {% endfor %}
		</ul>
	  </div>
	
		<p><strong>Disciplina:</strong> {{ discipline }} (<strong>{{ year }}</strong>)</p>

		<p><strong>Autor: </strong>{{ resolution.author }}</p>
		<p><strong>Publicação de: </strong><i>{{ resolution.date_resolution }}</i></p>

		<h6>Enunciado:</h6>
		<strong style="float: left;">{{ number_question_url }}º) &nbsp;</strong>
		<div id="content_question"> {{ resolution.content_question | raw }} </div>

		<h6>Resolução:</h6>
		<div id="resolution_question">{{ resolution.resolution_question | raw }}</div>
	{% else %}
		<p>
			A resolução dessa questão em específica ainda não está pronta ou simplesmente
			não existe a {{ number_question }}º questão de {{ discipline }} da prova de {{ year }}.
		</p>
	{% endif %}

{% endblock %}

{% block mathjax_script %}
	<!-- MathJax Script -->
	<script>
    MathJax = {
	  options: {
		  renderActions: {
			  addMenu: [0, '', '']
		  }
	  },
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']]
      }
    };
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}	
