{% extends 'admin/layout.html' %}

{% block content %}
    <form action="{{ url_base_admin }}{{ action }}" method="POST">
        <fieldset>
            <legend><h2>Adicionar Escola</h2></legend>

            <div class="form-group">
                <label for="name_school">Nome da(s) escola(s):</label>
                <input type="text" class="form-control" id="name_school" name="name_school" placeholder="Exemplo: IFCE Fortaleza">
            </div>

            <div class="form-group">
                <label for="codename_school">Codename da escola:</label>
                <input type="text" class="form-control" id="codename_school" name="codename_school" placeholder="Exemplo: ifcefor">
            </div>

            <div class="form-group">
                <label for="number_disciplines">Quantidade de disciplinas:</label>
                <input type="number" min="1" class="form-control" id="number_disciplines" name="number_disciplines">
            </div>

            <div class="form-group" id="divInputDisciplines">
                
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success form-control">Enviar Escola(s)</button>
                <br><br> 
            </div>

        </fieldset>
    </form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#number_disciplines').change(function() {
            $('#divInputDisciplines').html('');
            var number_disciplines = $(this).val();
            if (number_disciplines > 0) {
                var htmlContent = '';
                for (var i = 1; i <= number_disciplines; i++) {
                    htmlContent += '<label for="discipline'+i+'">Disciplina '+i+':</label>';
                    htmlContent += '<input type="text" class="form-control" id="discipline'+i+'" name="discipline[]" placeholder="Nome da Disciplina (Ex.: Matemática)">';
                    htmlContent += '</input>';

                    htmlContent += '<input type="text" class="form-control" id="absolute_name_discipline'+i+'" name="name_normal[]" placeholder="Nome Absoluto da Disciplina (Ex.: matematica)">';
                    htmlContent += '</input>';

                    htmlContent += '<input type="text" class="form-control" id="number_questions'+i+'" name="number_questions[]" placeholder="Quantidade de Questões (Ex.: 10)">';
                    htmlContent += '</input>';
                }
                $('#divInputDisciplines').append(htmlContent);
            }
        });
    });
</script>
{% endblock %}
