{% extends 'user/layout.html' %}

{% block content %}
    <h1>Resolução</h1>
		<p style="text-align: justify;">
			Desculpa, ainda estamos trabalhando para produzir as resoluções das questões
            dessa disciplina em específico, entre em contato conosco através do nosso
            servidor no Discord e tire suas dúvidas.
		</p>
        <p style="text-align: justify;">
            Para voltar para página das disciplinas, basta clicar no botão logo abaixo.
        </p>
        <a href="{{ url_base_user }}{{ page_ago }}" class="btn btn-success form-control">Voltar</a>
{% endblock %}
